<!doctype html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Lisää henkilö</title>
        <link href="/css/style.css" type="text/css" rel="stylesheet">
        <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet">
        <script src="../lib/jquery-2.1.4.min.js"></script>
        <script>
            $(document).ready(function() {
                $("#sendBtn").click(function(){
                    var data = {
                        user: sessionStorage.user,
                        name: $("#name").val(),
                        address: $("#address").val(),
                        age: $("#age").val(),
                        email: $("#email").val()
                    };
                    $.ajax({
                        method: "POST",
                        url:"http://localhost:3000/persons",
                        data: data,
                    }).done(function(data){window.location= "./persons.html"});
                });
            });
        </script>
    </head>
    <body>
        <h1>Lisää uudet yhteystiedot</h1>
        <form>
            <label for="name">Nimi</label>
            <input type="text" required placeholder="Your full name" id="name"/><div></div>
            <label for="address">Osoite</label>
            <input type="text" required placeholder="Your address" id="address"/><div></div>
            <label for="age">Ikä</label>
            <input type="number" required placeholder="Your age" id="age"/><div></div>
            <label for="email">E-mail</label>
            <input type="text" placeholder="Your e-mail" value="Not set" id="email"/><div></div>
            <input type="button" id="sendBtn" value="Lähetä"/>
        </form>
    </body>
</html>