<!doctype html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Lisää henkilö</title>
        <link href="/css/style.css" type="text/css" rel="stylesheet">
        <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <h1>Lisää uudet yhteystiedot</h1>
        <!--
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputName">Name</label>
                <input type="text" class="form-control" id="inputName" placeholder="Your name">
            </div>
            <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Katukatu 1">
            </div>
            <div class="form-group">
                <label for="inputAge">Age</label>
                <input type="text" class="form-control" id="inputAge" placeholder="123">
            </div>
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" value="jane.doe@example.com">
            </div>
            <button type="submit" class="btn btn-default" onclick="readValues()">Submit</button>
        </form>-->
        <form method="post" enctype="application/json" action="/persons">
            <label for="name">Nimi</label>
            <input type="text" required placeholder="Your full name" name="name"/><div></div>
            <label for="address">Osoite</label>
            <input type="text" required placeholder="Your address" name="address"/><div></div>
            <label for="age">Ikä</label>
            <input type="number" required placeholder="Your age" name="age"/><div></div>
            <label for="email">E-mail</label>
            <input type="text" placeholder="Your e-mail" value="Not set" name="email"/><div></div>
            <input type="submit" value="Lähetä"/>
        </form>
    </body>
</html>