<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Hello, world!</title>
        <link href="/css/style.css" type="text/css" rel="stylesheet">
        <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet">
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
    </head>
    <body>
        <!--Tämä on kommentti-->
        <p>Hello, world habitants!</p>
        <p>Terve taas</p>
        <div class="mun_keksima">terve</div>
        <p> </p>
        <div class="mun_keksima fancy">taas</div>
        <p class="fancy">Hei</p>
        <p id="joku_tyyli">Tadaa, id-tyyliä pukkaa. Lorem ipsum lallallaa lalalallalaa tittidii 
            tiidii joopasen joo nääs päivää ja sellaasta.</p>
        <!--Inline-elementti varaa tilaa vain sen mitä sisältö vaatii eikä lisää rivinvaihtoa-->
        <nav id="head">
            <a href="http://www.kaleva.fi">News</a>
            <a href="http://www.iltasanomat.fi">News2</a>
        </nav>
        <section>
            <h1 class="about">About</h1>
            <!--<p class="about">Here is some content</p> -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Age</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </section>
        <footer data-dummy="">
            <p>Copyright 2015 by Ohjelmistokehitys-team</p>    
        </footer>
        <!--Block-level-elementti varaa tilaa leveyssuunnassa niin paljon kuin sitä on ja korkeutta sisällön mukaan--> 
        <!--ja lisää rivinvaihdon loppuun-->
        <div>_</div>
        <div>
            <p>
                <p>Test</p>
            </p>
        </div>
        <p id ="para1">Hello</p>
    <ol>
        <li>Yks</li>
        <li>Kaks</li>
        <li>Kol</li>
    </ol>
    <input type="text" placeholder="Enter your name"/>
    <script src="/lib/jquery-2.1.4.min.js"></script>
    <script src="/controllers/scripts.js"></script>
    </body>
</html>