<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Hello, world!</title>
        <link href="/css/style.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <!--Tämä on kommentti-->
        <p>Hello, world habitants!</p>
        <p>Terve taas</p>
        <div class="mun_keksima">terve</div>
        <p> </p>
        <div class="fancy">taas</div>
        <p class="fancy">Hei</p>
        <p id="joku_tyyli">Tadaa, id-tyyliä pukkaa.</p>
        <input type="text" placeholder="Enter your name"/>
        <script src="/controllers/scripts.js"></script>
    </body>
</html>