<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Hello, world!</title>
        <link href="/css/style.css" type="text/css" rel="stylesheet">
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
    </head>
    <body>
        <!--Tämä on kommentti-->
        <p>Hello, world habitants!</p>
        <p>Terve taas</p>
        <div class="mun_keksima">terve</div>
        <p> </p>
        <div class="mun_keksima fancy">taas</div>
        <p class="fancy">Hei</p>
        <p id="joku_tyyli">Tadaa, id-tyyliä pukkaa. Lorem ipsum lallallaa lalalallalaa tittidii 
            tiidii joopasen joo nääs päivää ja sellaasta.</p>
        <!--Inline-elementti varaa tilaa vain sen mitä sisältö vaatii eikä lisää rivinvaihtoa-->
        <a href="http://www.kaleva.fi">News</a>
        <a href="http://www.iltasanomat.fi">News2</a>
        <!--Block-level-elementti varaa tilaa leveyssuunnassa niin paljon kuin sitä on ja korkeutta sisällön mukaan--> 
        <!--ja lisää rivinvaihdon loppuun-->
        <div>_</div>
        <div>
            <p>
                <p>Test</p>
            </p>
        </div>
        <p id ="para1">Hello</p>
    <ol>
        <li>Yks</li>
        <li>Kaks</li>
        <li>Kol</li>
    </ol>
    <input type="text" placeholder="Enter your name"/>
    <script src="/controllers/scripts.js"></script>
    </body>
</html>